<div *ngIf="error" class="row justify-content-center">
  <p class="text-danger">{{ error }} You may also <a href="#" (click)="refresh($event)">click here</a> to refresh the results.</p>
</div>

<div *ngIf="!error" class="row justify-content-center">
  <pagination-controls (pageChange)="getPage($event)" id="resultsControl" autoHide="true" maxSize="{{maxSize}}" directionLinks="true" previousLabel="" nextLabel="">
  </pagination-controls>
</div>

<div class="row justify-content-center">
  <div class="lds-ellipsis" [hidden]="!loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="card m-1" style="width: 12rem;" *ngFor="let result of results | paginate: { id: 'resultsControl', itemsPerPage: itemsPerPage, currentPage: page, totalItems: total_results }">
    <div class="card-body">
      <ng-container *ngIf="type === 'movie'">
        <a href="#" [routerLink]="['/movies/movie', result.id]">
          <h5 class="card-title"> {{ result.title }}</h5>
        </a>
        <h6 *ngIf="result.release_date" class="card-subtitle mb-2 text-muted">{{ getYear(result.release_date) }}</h6>
      </ng-container>
      <ng-container *ngIf="type === 'tv'">
        <a href="#" [routerLink]="['/tvshows/tvshow', result.id]">
          <h5 class="card-title"> {{ result.name }}</h5>
        </a>
        <h6 *ngIf="result.first_air_date" class="card-subtitle mb-2 text-muted">{{ getYear(result.first_air_date) }}</h6>
      </ng-container>
      <img *ngIf="result.poster_path" src="{{ img + result.poster_path }}">
    </div>
  </div>
</div>

<div *ngIf="!error" class="row justify-content-center">
  <pagination-controls (pageChange)="getPage($event)" id="resultsControl" autoHide="true" maxSize="{{maxSize}}" directionLinks="true" previousLabel="" nextLabel="">
  </pagination-controls>
</div>