<nav class="navbar navbar-expand-md navbar-light">

  <div class="container">
    <a routerLink="watched" class="navbar-brand" href="#">Watched</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLink="movies" routerLinkActive="active" class="nav-link" href="#">Movies</a>
        </li>
        <li class="nav-item">
          <a routerLink="tvshows" routerLinkActive="active" class="nav-link" href="#">TV Shows</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li *ngIf="!loggedIn" class="nav-item">
          <a routerLink="login" routerLinkActive="active" class="nav-link" href="#">Login</a>
        </li>
        <ng-container *ngIf="loggedIn">
          <li class="nav-item">
            <span class="nav-link">{{ user.username }}</span>
          </li>
          <li class="nav-item">
            <a (click)="logout($event)" class="nav-link" href="#">Logout</a>
          </li>
        </ng-container>
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>